body{
    text-align: center;
}

.foto img{
    width: 100%;
    max-width: 150px;
    border-radius: 100px;
 
}

.ender{
    color: #3f48cc;
}

.descr{
 margin-bottom: 25px;
}



.whatsapp{
    color: white;
    align-items: center;
    display: flex;
    gap: 15px;
    margin-top: 15px;
    padding-left: 20px;
    margin-left: 300px;
    margin-right: 300px;
    border-radius: 10px;
    background-color: #00695b;
    
}

.whatsapp img{
    width: 100%;
    max-width: 40px;
    padding-right: 55px;
}

.Telegram{
    color: white;
    align-items: center;
    display: flex;
    gap: 15px;
    margin-top: 15px;
    padding-left: 25px;
    margin-left: 300px;
    margin-right: 300px;
    border-radius: 10px;
    background-color: #1564c0;
    padding-right: px;
}

.Telegram img{
    width: 100%;
    max-width: 25px;
    padding-right: 35px;
}

.Twitter{
    color: white;
    align-items: center;
    display: flex;
    gap: 15px;
    margin-top: 15px;
    padding-left: 20px;
    margin-left: 300px;
    margin-right: 300px;
    border-radius: 10px;
    background-color: #1da1f3;
}

.Twitter img{
    width: 100%;
    max-width: 40px;
    padding-right: 65px;
}

.insta{
    color: white;
    align-items: center;
    display: flex;
    gap: 15px;
    margin-top: 15px;
    padding-left: 20px;
    margin-left: 300px;
    margin-right: 300px;
    border-radius: 10px;
    background-color: #f67c01;
}

.insta img{
    width: 100%;
    max-width: 40px;
    padding-right: 55px;
}
.youtube{
    color: white;
    align-items: center;
    display: flex;
    gap: 15px;
    margin-top: 15px;
    padding-left: 20px;
    margin-left: 300px;
    margin-right: 300px;
    border-radius: 10px;
    background-color: #f80000;
}

.youtube img{
    width: 100%;
    max-width: 40px;
    padding-right: 60px;
}

.linked{
    color: white;
    align-items: center;
    display: flex;
    gap: 15px;
    margin-top: 15px;
    padding-left: 30px;
    margin-left: 300px;
    margin-right: 300px;
    border-radius: 10px;
    background-color: #0e47a1;
}

.linked img{
    width: 100%;
    max-width: 30px;
    padding-right: 60px;
}